@import "tailwindcss";

:root {
  font-family: "Paperlogy", system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-paperlogy {
  font-family: "Paperlogy", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.ime-fallback {
  font-family:
    "Apple SD Gothic Neo",
    -apple-system,
    "Malgun Gothic",
    "Noto Sans KR",
    "Paperlogy",
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
}

input,
textarea,
select {
  font-family:
    "Apple SD Gothic Neo",
    -apple-system,
    "Malgun Gothic",
    "Noto Sans KR",
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
}

.font-wicked {
  font-family: "WickedMouse", cursive;
}

@layer utilities {
  .pressable {
    @apply transition-transform duration-500 ease-out active:scale-50 cursor-pointer;
  }
}

@layer utilities {
  .no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

/* @layer utilities {
  .touch-none {
    touch-action: none;
  }
} */
